[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.8.6"

[pipenv]
allow_prereleases = true

[packages]
# Data Science
pandas = "*"
s3fs = "*"
pyarrow = "*"
sklearn = "*"
#dask = "*"
# Interfaces
# for compatibility with s3fs boto https://pypi.org/project/botocore/#history
botocore = "==1.20.49"
boto3 = "==1.17.49"
awscli = "==1.19.49"
awswrangler = "*"
fsspec = "*"
click = "*"
requests = "*"
pyyaml = "*"
xarray = "*"
cfgrib = "*"

[dev-packages]
# Format
black = "*"
isort = "*"
# Linter
pydocstyle = "*"
flake8 = "*"
mypy = "*"
# Testing
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-asyncio = "*"
factory-boy = "*"
# Debugging
ipdb = "*"
ipython = "*"
