[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.8.6"

[pipenv]
allow_prereleases = true

[packages]
xeus-python = "*"
matplotlib = "*"
plotly = "*"
voila = "*"
dask-labextension = "*"
jupyter-server-proxy = "*"
ipywidgets = "*"
jupyterlab-git = "==0.30.0b1"
bqplot = "*"
jupyter-flex = "*"
